html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#divErrorPanel, #divSuccessCreated {
    display: none;
}

#btnCreateNoteForm {
    padding: 2em;
}

.createRow {
    margin-bottom: 2em;
}